<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
     
        <div class="right"> 
          <div class="tab-content">
           
            <!-- *********** User Profile **********-->
            <div id="user-profile" class="tab-pane fade in active">
              <div class="header">
                  <h4>User Profile</h4>
                  <ul class="pull-right">
                    <li>
                      <div class="btn-group dropleft dropdown-user">
                        <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-alert">
                        <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-check-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-calendar fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-avatar">
                        <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu"> 
                          <li><a href="#">Edit Profile</a></li>
                          <li><a href="#">View Activity</a></li>
                          <li><a href="#">Manage Roles</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              <div class="content">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="card-7">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#activity" role="tab" data-toggle="tab">Activity</a></li>
                        <li><a href="#blockedusers" role="tab" data-toggle="tab">Blocked Users</a></li>
                        <li><a href="#nda" role="tab" data-toggle="tab">NDAs</a></li>
                        <li><a href="#customerinvoices" role="tab" data-toggle="tab">Customer Invoices</a></li>
                      </ul> 
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="activity">
                          <ul>
                            <small class="title">TODAY</small>
                            <li>
                              <h6>
                                Gerald Vaughn changed the status to QA on <b>MA-86 - Retargeting Ads</b><br>
                                <span>I’ve prepared all sizes for you. Can you take a look tonight so we can prepare my final invoice?</span>
                                <small>New Dashboard Design - 9:24PM</small>
                              </h6>
                            </li>
                            <li>
                              <h6>
                                Gerald Vaughn commented on <b>DA-459 - Mediation: Demand Source Logo Size</b><br>
                                <small>Portfolio Updates for Jason Carroll - 7:12PM</small>
                              </h6>
                            </li>
                            <li>
                              <h6>
                                Gerald Vaughn changed the status to QA on <b>MA-45 - Finish Prototype</b><br>
                                <small>New Dashboard Design - 11:30AM</small>
                              </h6>
                            </li>
                          </ul>
                          <ul>
                            <small class="title">YESTERDAY</small>
                            <li>
                              <h6>
                                Gerald Vaughn attached 5 files to <b>9054 - Find good stocks for our Instagram channel</b><br>
                                <span class="imgs">
                                  <img src="https://bit.ly/2yYgK2x" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2N7po7n" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2OXtcKC" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2yYgK2x" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2N7po7n" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2OXtcKC" class="img-responsive img-rounded">
                                </span>
                                <small>Marketing Templates & Strategy - 7:59AM</small>
                              </h6>
                            </li>
                            <li>
                              <h6>
                                Gerald Vaughn commented on <b>Find good stocks for our Instagram channel</b><br>
                                <span>What do you think about these? Should I continue in this style?</span>
                                <small>Marketing Templates & Strategy - 7:58AM</small>
                              </h6>
                            </li>
                            <li>
                              <h6>
                                Gerald Vaughn changed the status to In Progress on <b>Find good stocks for our Instagram channel</b><br>
                                <small>Marketing Templates & Strategy - 6:30AM</small>
                              </h6>
                            </li>
                          </ul>
                          <ul>
                            <small class="title">28 JANUARY</small>
                            <li>
                              <h6>
                                Gerald Vaughn attached 6 files to <b>1007 - Background Inspiration</b><br>
                                <span class="imgs">
                                  <img src="https://bit.ly/2yYgK2x" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2N7po7n" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2OXtcKC" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2yYgK2x" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2N7po7n" class="img-responsive img-rounded">
                                  <img src="https://bit.ly/2OXtcKC" class="img-responsive img-rounded">
                                </span>
                                <small>Templates & Inspiration - 11:50AM</small>
                              </h6>
                            </li>
                          </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="blockedusers">
                          <h4>Blocked users</h4>
                          <hr>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio nostrum molestias assumenda, repudiandae consequuntur quae pariatur aut incidunt placeat doloremque doloribus! Recusandae nostrum dolore repudiandae libero mollitia, rem eveniet.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="nda">
                          <h4>NDA</h4>
                          <hr>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio nostrum molestias assumenda, repudiandae consequuntur quae pariatur aut incidunt placeat doloremque doloribus! Recusandae nostrum dolore repudiandae libero mollitia, rem eveniet.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="customerinvoices">
                          <h4>Customer Invoices</h4>
                          <hr>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quidem modi atque at aliquid expedita nemo incidunt exercitationem nihil sit. Laudantium suscipit id amet saepe ratione, accusamus. Voluptatum in, nam.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate nobis tenetur mollitia incidunt quod, est veniam, earum nemo! Alias rerum saepe aut sapiente minus sunt doloribus tempora corrupti in!</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea distinctio nostrum molestias assumenda, repudiandae consequuntur quae pariatur aut incidunt placeat doloremque doloribus! Recusandae nostrum dolore repudiandae libero mollitia, rem eveniet.</p>
                        </div>
                      </div>
                    </div> 
                  </div>
                  <div class="col-sm-5">
                    <div class="card-5">
                      <div class="profile">
                        <img src="https://bit.ly/2MoguT5" class="img-circle">
                        <h4>Sree
                          <small>UI/UX Designer</small>
                          <small>Hyderabad, India</small>
                        </h4>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <button class="btn btn-primary btn-block">Edit</button>
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-default btn-block">Edit</button>
                        </div>
                      </div><br>
                      <hr>
                      <div class="row dtls">
                        <div class="col-sm-3 text-center">
                          <h5>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i><br>
                            <small>RATING</small>
                          </h5>
                        </div>
                        <div class="col-sm-3 text-center">
                          <h5>
                            38<br>
                            <small>REVIEW</small>
                          </h5>
                        </div>
                        <div class="col-sm-3 text-center">
                          <h5>
                            54<br>
                            <small>CLIENTS</small>
                          </h5>
                        </div>
                        <div class="col-sm-3 text-center">
                          <h5>
                            186<br>
                            <small>FINISHED GIGS</small>
                          </h5>
                        </div>
                      </div>
                      <hr>
                      <div class="fb">
                        <span class="pull-left"><i class="fa fa-pencil fa-lg text-primary"></i></span>
                        <h5>Product Designer <br><small>Facebook - Hyderabad, India</small></h5>
                      </div>
                      <div class="drop">
                        <span class="pull-left"><i class="fa fa-dropbox fa-lg text-primary"></i></span>
                        <h5>Intern <br><small>Dropbox - Hyderabad, India</small></h5>
                      </div>
                      <hr>
                      <div class="link text-center">
                        <a href="https://codepen.io/srees-evd" target="_blank"><i class="fa fa-globe"></i> https://codepen.io/srees-evd</a>
                      </div>
                    </div>
                    <div class="card-5 billing">
                      <h4>Billing</h4>
                      <div class="row billing-row">
                        <div class="col-sm-6"><i class="fa fa-credit-card"></i> Ending **** 5896</div>
                        <div class="col-sm-3 text-right">05 / 19	</div>
                        <div class="col-sm-3 text-right text-gray">VISA</div>
                      </div>
                      <hr>
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td>PRO Package</td>
                              <td>Standard Payment</td>
                              <td>19 Jan 2018</td>
                            </tr>
                            <tr>
                              <td>Job Posted</td>
                              <td>30-Days Recuring</td>
                              <td>24 Nov 2017</td>
                            </tr>
                            <tr>
                              <td>PRO Package	</td>
                              <td>Gift</td>
                              <td>7 Mar 2017</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>