<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
      
        <div class="right"> 
          <div class="tab-content">
           

            <!-- //************* Browse ***********// -->
            
            <div id="browse" class="tab-pane fade">
              <div class="header">
                <h4>Browse</h4>
                <ul class="pull-right">
                  <li>
                    <div class="btn-group dropleft dropdown-user">
                      <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-alert">
                      <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-check-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-calendar fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-info-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-avatar">
                      <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                      <ul class="dropdown-menu"> 
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">View Activity</a></li>
                        <li><a href="#">Manage Roles</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <h5 class="search">Search Results: <b>Nature Shots</b> <small>21 People match your criteria</small></h5> 
              <div class="content">
                <div class="container browse">
                  <div class="row">
                    <div class="col-sm-4">
      <!--                 <div class="card">
                        <img src="https://bit.ly/2ZLHm1W" alt="" class="img-responsive img-circle img-thumbnail">
                        <h5>Caroline Higgins <br>
                          <small> Traveller<br>5 Projects | 41 Stocks</small>
                          <small>
                            <i class="fa fa-envelope"></i>
                            <i class="fa fa-ellipsis-h"></i>
                          </small>
                        </h5>
                      </div> -->
                    </div> 
                  </div>
                </div>
              </div>
          </div>
           
            
           
           
          
           
            
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>
