<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
       
        <div class="right"> 
          <div class="tab-content">
           
            
            <!--*********** Single Invoice ****************-->
            <div id="single-invoice" class="tab-pane fade">
              <div class="header">
                <h4>Single Invoice</h4>
                <ul class="pull-right">
                  <li><button class="btn btn-success"><small>New Invoice</small></button></li>
                  <li>
                    <div class="btn-group dropleft dropdown-user">
                      <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-alert">
                      <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-check-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-calendar fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-info-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-avatar">
                      <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                      <ul class="dropdown-menu"> 
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">View Activity</a></li>
                        <li><a href="#">Manage Roles</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content">
                <div class="container">
                  <div class="s-inv-card">
                    <div class="row">
                      <div class="s-inv-header">
                        <div class="col-sm-9">
                          <h3><i class="fa fa-ravelry fa-lg text-green"></i><br><br><b> MyDashboard Pvt Ltd</b></h3>
                        </div>
                        <div class="col-sm-3">
                          <h4><b> Invoice</b> <br> <small> 22 July 2019</small></h4>
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="s-inv-details">
                        <div class="col-sm-9">
                          <h4>
                            <small>From:</small><br>
                            <b>Dashboard Inc</b> <br><br>
                            <small>
                              39 MIJ Road,<br>
                              Jubilee Hills, Hyderabad <br>
                              India
                            </small>
                          </h4>
                        </div>
                        <div class="col-sm-3">
                          <h4>
                            <small>To:</small><br>
                            <b>Client Inc</b> <br><br>
                            <small>
                              248 Blooms Ave,<br>
                              PVLC, Shamshabad<br>
                              India
                            </small>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="s-inv-body">
                        <div class="col-sm-3">
                          <h4><b> Invoice#</b> <br><small>ASLF 674323</small></h4>
                        </div>
                        <div class="col-sm-9">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Description</th>
                                  <th>Qty</th>
                                  <th>Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Website Design</td>
                                  <td>2</td>
                                  <td>$4,500</td>
                                </tr>
                                <tr>
                                  <td>UI Development</td>
                                  <td>3</td>
                                  <td>$7,500</td>
                                </tr>
                                <tr>
                                  <td>Landing Page</td>
                                  <td>1</td>
                                  <td>$2,320</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <th>Total</th>
                                  <th></th>
                                  <th>$15,490</th>
                                </tr>
                              </tfoot>
                            </table>
                            <small class="text-muted">All amounts shown on this invoice are in US dollars.</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="s-inv-footer">
                        <div class="col-sm-9"><i class="fa fa-ravelry fa-lg text-green"></i> MyDashboard UI</div>
                        <div class="col-sm-3">hello@mydashboard.in</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>