<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
       
        <div class="right"> 
          <div class="tab-content">



            <!--*********** Overview ***********-->
            <div id="overview" class="tab-pane fade">
              <div class="header">
                <h4>Account</h4>
                <ul class="pull-right">
                  <li>
                    <div class="btn-group dropleft dropdown-user">
                      <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-alert">
                      <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </i>
                      <ul class="dropdown-menu"> 
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-check-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-calendar fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="alert-card">
                              <i class="fa fa-info-circle fa-2x"></i>
                              <p class="pull-right">
                                Someone mentioned you <br>
                                <small>You have recieved a mention on twitter, check it out!</small>
                              </p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="btn-group dropleft dropdown-avatar">
                      <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                      <ul class="dropdown-menu"> 
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">View Activity</a></li>
                        <li><a href="#">Manage Roles</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
      </div>
              <div class="content">
                <div class="row graph-cards">
                  <div class="col-sm-4">
                    <div>
                      <h4>Next Payout <br><small>Activity from 4 Jan 2017 to 10 Jan 2017</small></h4>
                      <h2>$2,190 <br><small>You’ve made $230 Today</small></h2>
                      <img src="https://bit.ly/2YWQpwi" class="img-responsive" alt="">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div>
                      <h4>Total Earnings <br><small>In 15 Months</small></h4>
                      <h2>$23,580 <br><small>Last Month you’ve made $2,980</small></h2>
                      <img src="https://bit.ly/33iEQmJ" class="img-responsive" alt="">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div>
                      <h4>All Tasks Overview <br><small>Next 4 Weeks</small></h4>
                      <!-- <h2>$2,190 <br><small>You’ve made $230 Today</small></h2> -->
                      <img src="https://bit.ly/31zdsPL" alt="">
                    </div>
                  </div>
      </div>
                <div class="row project-cards">
                  <div class="col-sm-3">
                    <div class="card">
                      <img src="https://bit.ly/2OXtcKC" alt=""/>
                      <h5>Magazine Images <br> <small>Kinfolk | Last Update: 21 Dec 2016</small></h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>4,870 USD <br><small>Budget / Salary</small></h6>
                        </div>
                        <div class="col-sm-6">
                          <h6>Early Dec 2017 <br><small class="text-red">10 Days Remaining</small></h6>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <img src="https://bit.ly/2Ku2zc1" alt=""/>
                      <h5>Design Competition 2018 <br> <small>Gourmet| Last Update: 29 Dec 2017</small></h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>9,680 USD <br><small>Budget / Salary</small></h6>
                        </div>
                        <div class="col-sm-6">
                          <h6>Late January <br><small class="text-red">Deadline</small></h6>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <img src="https://bit.ly/2ySk1Ai" alt=""/>
                      <h5>New Dashboard <br> <small>Tapdaq | Last Update: 28 Nov 2017</small></h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>4,870 USD <br><small>Budget / Salary</small></h6>
                        </div>
                        <div class="col-sm-6">
                          <h6>Early Dec 2017 <br><small class="text-red">10 Days Remaining</small></h6>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <img src="https://bit.ly/2MkaTNZ" alt=""/>
                      <h5>Mobile App <br> <small>Cofee & Co. | Last Update: 1 Dec 2016</small></h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>8,760 USD <br><small>Budget / Salary</small></h6>
                        </div>
                        <div class="col-sm-6">
                          <h6>Early Dec 2017 <br><small class="text-red">6 Days Remaining</small></h6>
                        </div>
                      </div>
                    </div>
                  </div>
      </div>
                <div class="row invoice-task">
                  <div class="col-sm-6">
                    <div class="invoice">
                      <div class="table-responsive">
                        <table class="table">
                          <h5>Invoicing <small class="pull-right"><a href="#">View all invoices</a></small></h5>
                          <tbody>
                            <tr>
                              <td>00450</td>
                              <td>Design Works</td>
                              <td>Carlson Limited</td>
                              <td><button class="btn btn-red btn-sm pull-right">DELAYED</button></td>
                              <td>$2,580</td>
                            </tr>
                            <tr>
                              <td>00569</td>
                              <td>New Illustrations</td>
                              <td>Twitter</td>
                              <td><button class="btn btn-warning btn-sm pull-right">PENDING INVOICE</button></td>
                              <td>$3,130</td>
                            </tr>
                            <tr>
                              <td>01875</td>
                              <td>UX Study</td>
                              <td>Re-Research</td>
                              <td><button class="btn btn-success btn-sm pull-right">PAID TODAY</button></td>
                              <td>$2,580</td>
                            </tr>
                            <tr>
                              <td>00369</td>
                              <td>Landing Page</td>
                              <td>Travelsimo</td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">PAID TODAY</button></td>
                              <td>$3,130</td>
                            </tr>
                            <tr>
                              <td>00689</td>
                              <td>iOS App Design</td>
                              <td>Silingo</td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">PAID TODAY</button></td>
                              <td>$3,130</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="tasks">
                      <div class="table-responsive">
                        <table class="table">
                          <h5>Tasks <small class="pull-right"><a href="#">View all tasks</a></small></h5>
                          <tbody>
                            <tr>
                              <td>
                                <div class="checkbox" id="check">
                                  <label>
                                    <input type="checkbox"> Create new prototype for the landing page
                                  </label>
                                </div>
                              </td>
                              <td><button class="btn btn-red btn-sm pull-right">DUE TODAY</button></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Add new Google Analytics code to all main files
                                  </label>
                                </div>
                              </td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">DUE IN 2 DAYS </button></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Finish Dashboard UI Kit update
                                  </label>
                                </div>
                              </td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">DUE IN 3 DAYS </button></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Update parallax scroll on team page
                                  </label>
                                </div>
                              </td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">DUE IN 5 DAYS </button></td>
                            </tr>
                            <tr>
                              <td>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Finish Dashboard UI Kit update
                                  </label>
                                </div>
                              </td>
                              <td><button class="btn btn-grayblue btn-sm pull-right">DUE IN 1 WEEK </button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
      </div>
              </div>
            </div>
            
           
           
       
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>