<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
       
        <div class="right"> 
          <div class="tab-content">
            
           
            <!--************** Landing **************-->
            <div id="landing" class="tab-pane fade">
              <div class="header">
                  <h4>Welcome</h4>
                  <ul class="pull-right">
                    <li>
                      <div class="btn-group dropleft dropdown-user">
                        <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-alert">
                        <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-check-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-calendar fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-avatar">
                        <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu"> 
                          <li><a href="#">Edit Profile</a></li>
                          <li><a href="#">View Activity</a></li>
                          <li><a href="#">Manage Roles</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              <div class="content">
                <h3 class="text-center">
                  Hi there! Welcome back to the Dashboard. <br>
                  <small> Check out your past searches and the content you’ve browsed in. <a href="#">View last results</a></small>
                </h3>
                <div class="row">
                  <div class="col-sm-4 text-center">
                    <div class="card-4">
                      <img src="https://bit.ly/2YO9Mws" alt="">
                      <p>Check your performance. See the results of all your active campaings.</p>
                    <button class="btn btn-info">Start new campaign</button>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center">
                    <div class="card-4">
                      <img src="https://bit.ly/2TxGv33" alt="">
                      <p>Start console and prepare new stuff for your customers or community!</p>
                    <button class="btn btn-info">View your reports</button>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center">
                    <div class="card-4">
                      <img src="https://bit.ly/2KyiS7T" alt="">
                      <p>All Files ready? <br>Start promoting your apps today.</p>
                    <button class="btn btn-info">Start using dashboard</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Dashboard Overview</h3>
                    <div class="card-6">
                      <div class="row">
                        <div class="col-sm-4">
                          <h4>801, 523 <br> <small>Newsletters Sent</small></h4>
                          <img src="https://bit.ly/2yYe5pz" alt="">
                        </div>
                        <div class="col-sm-4">
                          <h4>45, 957 <br> <small>Newsletters Sent</small></h4>
                          <img src="https://bit.ly/2yYe5pz" alt="">
                        </div>
                        <div class="col-sm-4">
                          <h4>1, 024 <br> <small>Newsletters Sent</small></h4>
                          <img src="https://bit.ly/2yYe5pz" alt="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h5><small>Open Rate</small><br>32.21%</h5>
                          <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="32.21" aria-valuemin="0" aria-valuemax="100" style="width: 32.21%">
                              <span class="sr-only">32.21% Complete (success)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <h5><small>Read Rate</small><br>75.21%</h5>
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75.21" aria-valuemin="0" aria-valuemax="100" style="width: 75.21%">
                              <span class="sr-only">32.21% Complete (success)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <h5><small>Attachments</small><br>63.45%</h5>
                          <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="63.45" aria-valuemin="0" aria-valuemax="100" style="width: 63.45%">
                              <span class="sr-only">63.45% Complete (success)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <h5><small>New Subs</small><br>72.4%</h5>
                          <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="72.4" aria-valuemin="0" aria-valuemax="100" style="width: 72.4%">
                              <span class="sr-only">72.4% Complete (success)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h3>
                      Recently Opened
                      <p class="pull-right">
                        <select class="form-control">
                          <option>All types</option>
                          <option>This day</option>
                          <option>Last week</option>
                        </select>
                      </p>
                    </h3>
                    <div class="card-6">
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td><img src="https://bit.ly/2N7po7n" class="img-rounded"></td>
                              <td><i class="fa fa-file-pdf-o text-red"></i> Santorini.pdf</td>
                              <td>25MB | Edited 1 minute ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2yYgK2x" class="img-rounded"></td>
                              <td><i class="fa fa-file-pdf-o text-red"></i> Sea Presentation.pdf</td>
                              <td>12MB | Edited 3 minute ago</td> 
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2OXtcKC" class="img-rounded"></td>
                              <td><i class="fa fa-file-text-o text-success"></i> Lakes in India.doc</td>
                              <td>25MB | Edited 1 minute ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2N7po7n" class="img-rounded"></td>
                              <td><i class="fa fa-file-pdf-o text-red"></i> Santorini.pdf</td>
                              <td>25MB | Edited 1 minute ago</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>