<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
      
        <div class="right"> 
          <div class="tab-content">
           
            
            <!-- ******************* Analytics ***************-->
            <div id="analytics" class="tab-pane fade">
              <div class="header">
                  <h4>Analytics</h4>
                  <ul class="pull-right">
                    <li>
                      <div class="btn-group dropleft dropdown-user">
                        <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-alert">
                        <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-check-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-calendar fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-avatar">
                        <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu"> 
                          <li><a href="#">Edit Profile</a></li>
                          <li><a href="#">View Activity</a></li>
                          <li><a href="#">Manage Roles</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              <div class="content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="revenue">
                      <h4>Revenue <small class="pull-right">January 2017</small></h4>
                      <img src="https://bit.ly/2YZsc8R" alt="">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="">
                      <div class="active-clients">
                        <h4>Active Clients</h4>
                        <h6><small>You’re currently in</small> TOP 10% <small>of Workspace <br> platform your rating is </small>4.85. <small>Keep up great work!</small></h6>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Rating</td>
                                <td width="70%">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                                      <span class="sr-only">72% Complete (success)</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-right">72%</td>
                              </tr>
                              <tr>
                                <td>Budget</td>
                                <td width="70%">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="42.6" aria-valuemin="0" aria-valuemax="100" style="width: 42.6%">
                                      <span class="sr-only">42.6% Complete (success)</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-right">42.6%</td>
                              </tr>
                              <tr>
                                <td>Timing</td>
                                <td width="70%">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="89.2" aria-valuemin="0" aria-valuemax="100" style="width: 89.2%">
                                      <span class="sr-only">89.2% Complete (success)</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-right">89.2%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <div class="tasks">
                        <h4>Tasks</h4>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Completed</td>
                                <td class="text-right">340</td>
                              </tr>
                              <tr>
                                <td>Total</td>
                                <td class="text-right">520</td>
                              </tr>
                              <tr>
                                <td>Monthly Average</td>
                                <td class="text-right">2454</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <hr>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>Rating</td>
                                <td width="70%">
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65.3" aria-valuemin="0" aria-valuemax="100" style="width: 65.3%">
                                      <span class="sr-only">65.3% Complete (success)</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-right">65.3%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row total-stats">
                  <div class="col-sm-3">
                    <div class="stats-card">
                      <span class="orange-chart">
                        <i class="fa fa-line-chart fa-lg"></i>
                      </span>
                      <h3>$9,587 <small><i class="fa fa-caret-up"></i></small><br>
                        <small>TOTAL PROFIT <b class="text-success">(+$286)</b></small>
                      </h3>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="stats-card">
                      <span class="purple-chart">
                        <i class="fa fa-pie-chart fa-lg"></i>
                      </span>
                      <h3>$2,190 <small><i class="fa fa-caret-up"></i></small><br>
                        <small>REVENUE <b class="text-success">(+$286)</b></small>
                      </h3>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="stats-card">
                      <span class="red-chart">
                        <i class="fa fa-pie-chart fa-lg"></i>
                      </span>
                      <h3>93 <small><i class="fa fa-caret-down"></i></small><br>
                        <small>ACTIVE CLIENTS <b class="text-red">(-2)</b></small>
                      </h3>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="stats-card">
                      <span class="green-chart">
                        <i class="fa fa-pie-chart fa-lg"></i>
                      </span>
                      <h3>$431 <small><i class="fa fa-caret-up"></i></small><br>
                        <small>PROFIT  <b class="text-success"> (+$3.11)</b></small>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="income-customers">
                      <div class="table-responsive">
                        <h4>Recent Income <small class="pull-right"><a href="#">View All</a></small></h4>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td><img src="https://bit.ly/2Km1kf6" alt="" class="img-circle"></td>
                              <td>Minnie Ferguson</td>
                              <td>One Page Dashboard</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2OWjYOV" alt="" class="img-circle"></td>
                              <td>Ann Hunter</td>
                              <td>New Website	</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/31Fs8wF" alt="" class="img-circle"></td>
                              <td>Wedding</td>
                              <td>New Website</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2Km1kf6" alt="" class="img-circle"></td>
                              <td>Minnie Ferguson</td>
                              <td>One Page Dashboard</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="income-customers">
                      <div class="table-responsive">
                        <h4>Best Customers <small class="pull-right"><a href="#">View All</a></small></h4>
                        <table class="table">
                          <tbody>
                            <tr>
                              <td><img src="https://bit.ly/2Km1kf6" alt="" class="img-circle"></td>
                              <td>Minnie Ferguson</td>
                              <td>One Page Dashboard</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2OWjYOV" alt="" class="img-circle"></td>
                              <td>Ann Hunter</td>
                              <td>New Website	</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/31Fs8wF" alt="" class="img-circle"></td>
                              <td>Wedding</td>
                              <td>New Website</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                            <tr>
                              <td><img src="https://bit.ly/2Km1kf6" alt="" class="img-circle"></td>
                              <td>Minnie Ferguson</td>
                              <td>One Page Dashboard</td>
                              <td>$150</td>
                              <td>3 Days ago</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            
           
           
          
           
            
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>