<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
       
        <div class="right"> 
          <div class="tab-content">
          
            <!-- ***************Performance *************-->
            <div id="performance" class="tab-pane fade">
              <div class="header">
                  <h4>Performance</h4>
                  <ul class="pull-right">
                    <li>
                      <div class="btn-group dropleft dropdown-user">
                        <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-alert">
                        <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </i>
                        <ul class="dropdown-menu"> 
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-check-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-calendar fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="alert-card">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <p class="pull-right">
                                  Someone mentioned you <br>
                                  <small>You have recieved a mention on twitter, check it out!</small>
                                </p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="btn-group dropleft dropdown-avatar">
                        <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu"> 
                          <li><a href="#">Edit Profile</a></li>
                          <li><a href="#">View Activity</a></li>
                          <li><a href="#">Manage Roles</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              <div class="content">
                <div class="row flex">
                  <div class="col-sm-2">
                    <div class="info-card">
                      <h3 class="text-center"><b>354</b> <br><small> CUSTOMERS</small></h3>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="info-card">
                      <h3 class="text-center"><b>54%</b> <br><small> TARGET ACHIEVED</small></h3>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="info-card">
                      <h3 class="text-center"><b>13%</b> <br><small> NEW SALES</small></h3>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="info-card">
                      <h3 class="text-center"><b>21</b> <br><small> NEW CUSTOMERS</small></h3>
                    </div>
                  </div>
                </div>
                <div class="row world">
                  <div class="col-sm-6">
                    <div class="world-card">
                      <h4>World Wide</h4>
                      <img src="https://bit.ly/2YP6nh6" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="product-card">
                      <h4>Product Sale</h4>
                      <div class="custom-progress">
                        <h6><i class="fa fa-circle-o fa-lg text-success"></i>Business for Newbies <small class="pull-right">252</small></h6>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"> 
                            <span class="sr-only">70% Complete (success)</span>
                          </div>
                        </div>
                      </div>
                      <div class="custom-progress">
                        <h6><i class="fa fa-circle-o fa-lg text-warning"></i>Graph UI Kit <small class="pull-right">300</small></h6>
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> 
                            <span class="sr-only">80% Complete (warning)</span>
                          </div>
                        </div>
                      </div>
                      <div class="custom-progress">
                        <h6><i class="fa fa-circle-o fa-lg text-info"></i> iOS UI Kit <small class="pull-right">149</small></h6>
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> 
                            <span class="sr-only">40% Complete (info)</span>
                          </div>
                        </div>
                      </div>
                      <div class="custom-progress">
                        <h6><i class="fa fa-circle-o fa-lg text-danger"></i>English Webinar <small class="pull-right">98</small></h6>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"> 
                            <span class="sr-only">30% Complete (danger)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row stats">
                  <div class="col-sm-4">
                    <div class="stats-card sales">
                      <h4>Daily Sales 
                        <small class="pull-right">552</small><br><br>
                        <small class="pull-right text-success">+16.2%</small><br>
                      </h4>
                      <img src="https://bit.ly/2TwueMn" alt="">
                      <hr>
                      <div class="row">
                        <div class="col-sm-6">
                          <h6>BEST DAY <small>21</small></h6>
                        </div>
                        <div class="col-sm-6 text-right">
                          <h6>AVERAGE <small>32</small></h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-10">
                          <h6>THIS MONTH</h6>
                          <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              <span class="sr-only">60% Complete (warning)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <h4>21</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-10">
                          <h6>LAST MONTH</h6>
                          <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              <span class="sr-only">60% Complete (warning)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <h4>34</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="stats-card customers">
                      <h4>Customers 
                        <small class="pull-right">354</small><br><br>
                        <small class="pull-right text-success">+16.2%</small><br>
                      </h4>
                      <img src="https://bit.ly/33uUStM" alt="">
                      <hr>
                      <div class="row">
                        <div class="col-sm-4">
                          <h6><i class="fa fa-circle-o text-warning"></i> New</h6>
                        </div>
                        <div class="col-sm-4">
                          <h6><i class="fa fa-circle-o text-primary"></i> Returning</h6>
                        </div>
                        <div class="col-sm-4">
                          <h6><i class="fa fa-circle-o text-success"></i> Referrals</h6>
                        </div>
                      </div>
                      <hr>
                      <div class="row p-bars">
                        <div class="col-sm-4">
                          <h6>39 <br><small>NEW</small></h6>
                          <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              <span class="sr-only">60% Complete (warning)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <h6>54 <br><small>RETURNING</small></h6>
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              <span class="sr-only">60% Complete (info)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <h6>54 <br><small>REFERRALS</small></h6>
                          <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                              <span class="sr-only">60% Complete (success)</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="stats-card profit"> 
                      <h4>Profit 
                        <small class="pull-right">$1.435</small><br><br>
                        <small class="pull-right text-success">+16.2%</small><br>
                      </h4>
                      <img src="https://bit.ly/2H6pzMf" alt="">
                      <hr>
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td width="60%"><i class="fa fa-circle-o text-danger"></i> Paypal</td>
                              <td class="text-right">$365</td>
                              <td class="text-red text-right">18,7% <i class="fa fa-angle-down"></i></td>
                            </tr>
                            <tr>
                              <td width="60%"><i class="fa fa-circle-o text-info"></i> Gumroad</td>
                              <td class="text-right">$299</td>
                              <td class="text-success text-right">18,7%  <i class="fa fa-angle-up"></i></td>
                            </tr>
                            <tr>
                              <td width="60%"><i class="fa fa-circle-o text-success"></i> Others</td>
                              <td class="text-right">$69 </td>
                              <td class="text-success text-right">18,7% <i class="fa fa-angle-up"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
           
          
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>