<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="main">
      
        <div class="right"> 
          <div class="tab-content">
           
            
           <!-- ********* Candidates ***********-->
           <div id="candidates" class="tab-pane fade">
            <div class="header">
              <h4>Candidates</h4>
              <ul class="pull-right">
                <li>
                  <div class="btn-group dropleft dropdown-user">
                    <i class="fa fa-user-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu"> 
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <img src="https://bit.ly/2KkoqCO" class="img-circle img-responvie"/>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <img src="https://bit.ly/2MH8Wue" class="img-circle img-responvie"/>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="btn-group dropleft dropdown-alert">
                    <i class="fa fa-bell-o dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </i>
                    <ul class="dropdown-menu"> 
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <i class="fa fa-check-circle fa-2x"></i>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <i class="fa fa-calendar fa-2x"></i>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="alert-card">
                            <i class="fa fa-info-circle fa-2x"></i>
                            <p class="pull-right">
                              Someone mentioned you <br>
                              <small>You have recieved a mention on twitter, check it out!</small>
                            </p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="btn-group dropleft dropdown-avatar">
                    <img src="https://bit.ly/2Km1kf6" class="img-circle img-responvie"/><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <ul class="dropdown-menu"> 
                      <li><a href="#">Edit Profile</a></li>
                      <li><a href="#">View Activity</a></li>
                      <li><a href="#">Manage Roles</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/2Z2Rhol" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2OWjYOV" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/2TCl1lG" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2Z9sZUH" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/2Z6stLb" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2Z4W1cd" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/30evAhw" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2KP3DX7" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/2KQ3se3" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2ZjhWMZ" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 candid-card">
                  <div class="card-4">
                    <img src="https://bit.ly/33JBVUr" class="img-responsive main-img"/>
                    <div class="row">
                      <div class="col-sm-10">
                        <img src="https://bit.ly/2YSiUjI" class="img-responsive img-circle img-thumbnail pull-left">
                        <h5>Mathilda Campbell <br><small><i class="fa fa-map-marker"></i> India</small></h5>
                      </div>
                      <div class="col-sm-2 text-right">
                        <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        <a href="#"><i class="fa fa-cog fa-lg"></i></a>
                      </div>
                    </div>
                    <hr>
                    <div class="row text-center py-15">
                      <div class="col-sm-6">
                        <button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> New Message</button>
                      </div>
                      <div class="col-sm-6 text-green">
                        <small class="mt-5"><i class="fa fa-check"></i> Available for Hire</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
           
           
          
           
            
        </div>
      </div>
</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>